@{
    ViewData["Title"] = "Get To Know Joel";
}
<h1>Get To Know Joel</h1>
<br />
<br />

<div>
    <h2>Click <a href="https://www.qwcomedy.com/" target="_blank">HERE</a> For Quick Wits Comedy, Where Joel Performs Regularly</h2>
</div>

<br />
<br />

<div>
    <h2>Click <a href="https://baconsale.com/" target="_blank">HERE</a> for Baconsale</h2>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Kate" />
    </a>
</div>

