@{
    ViewData["Title"] = "Home Page";
}

<h1> Joel Hilton Film Collection</h1>
<p  style="font-size: 20px">This is the updated branch </p>
<img src="~/img/JoelHiltonHeadshot.jpg" />

<div> 
    <a asp-controller="Home" asp-action="MovieList"> VIEW WAITLIST </a>
</div>